* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #33d7ff;
}

h1 {
    background-color: #F6FF33;
    padding: 50px;
}

h2 {
    background-color: lightcoral;
    padding: 25px;

}
h3 {
    background-color: sienna;
    padding: 10px;
}

p {
    font-size: 20px;
    font-family: "Times New Roman";
    margin-top: 30px;
}
.boxes{
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}
a:link, a:visited {
    color: #5D6063;
    text-decoration: none;

}

ul {
    font-family: Georgia;
    font-size: medium;
}
ol {
    font-family: Helvetica;
    font-size: large;
}